.controls_pagination{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.footerQuestions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
}

.slider_questions{
    display: flex;
    gap: 10px;
}

.indexQuestion{
    color: white;
    display: flex;
    width: 1.5em;
    height: 1.5em;
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    border: 1px solid rgba(144, 202, 249, 0.5);
    padding: .8em;
    cursor: pointer;
    border-radius: 50%;
    transition: all .3s ease;
    &:hover{
        color: rgb(144, 202, 249);
        border: 1px solid rgba(144, 202, 249, 0.5);
        background-color: rgba(144, 202, 249, 0.24)
    }

    &.active{
        color: rgb(206, 147, 216);
        border: 1px solid rgba(206, 147, 216, 0.5);
        background-color: rgba(206, 147, 216, 0.24);
    }
}


@media screen and (max-width:500px) {
    .slider_questions{
        gap: 5px;
    }
}

