.recomendaciones{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1000px;
    gap: 1em;
}

.recomendacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container-consejos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper_final_results{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.consejo{
    margin-top: 1em;
    display: flex;
    align-items: start;
    flex-direction: column;
    max-width: 900px;
    padding: 1em;
    border-radius: 10px;
    background-color: #202945;
}

.consejo h2{
    margin: 0;
    color: #E92176;
}

.p-consejo{
    max-width: 1000px;
    text-align: start;
    margin: 0;
    color: white;
}

.recomendacion h2{
    margin: 0;
    text-align: start;
}

.layout_product{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 20px;
}

.product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
}

.product img{
    max-width: 250px;
    object-fit: cover;
    aspect-ratio: auto 3/4;  
    width: 100%;
}

.info_product{
    display: flex;
    text-align: start;
    flex-direction: column;
    gap: 8px;
}

.product h3{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    color: #EA287A;
}

.product h4{
    color: #202945;
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}

.product a{
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    background-color: #EA287A;
    color: white;
    padding: 10px 16px;
    border-radius: 10px;
    text-decoration: none;
}

.default_product{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width:880px) {
    .layout_product{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fit,minmax(80px,1fr));
    }
    .recomendaciones{
        flex-direction: column;
    }
}

@media screen and (max-width:450px) {
    .product img{
        object-fit: cover;
        aspect-ratio: 2/3 auto;
        max-width: 150px;
    }

    .product h3{
        font-size: 15px;
    }
    
    .product h4{
        font-size: 16px;
    }

    .consejo h2{
        font-size: 15px;
    }
    
    .p-consejo{
        font-size: 11px;
    }
}

@media screen and (max-width:400px) {
    .layout_product{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fit,minmax(80px,1fr));
    }
    .recomendacion h2{
        font-size: 18px;
    }
    .product img{
        max-width: 150px;
    }
    .product h3{
        font-size: 15px;
    }
    .product h4{
        font-size: 16px;
    }
}