
.card_test{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, .08);
    height: 30em;
    gap: 8px;
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
    padding: .5em;
    min-width: 650px;
    box-shadow: 0 0 5px #202945;

    & h5{
        font-size: 15px;
    }
}

.header_question{
    display: flex;
    flex-flow: row nowrap;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    margin-bottom: .5em;
    width: 100%;
    gap: 2px;
    overflow: hidden;
}

.span_explanation_question{
    text-align: start;
    display: flex;
    font-size: 14px;
    transition: all .5s ease;
    overflow: hidden;
    filter: blur(10px);
    transform: translateY(-100%);
    opacity: 0;
    &.fade-in{
        filter: blur(0);
        opacity: 1;
        transform: translateY(0%);
        transition: all .5s ease-in-out;

    }

}

.question_number{
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    gap: 1em;
}

.question{
    display: flex;
    font-size: 1.5em;
    text-align: left;
    margin: 0;
    filter: blur(10px);
    color: #E92176;
    width: 100%;
    transition: all .5s ease-in-out;
    transform: translate(-110%);
    overflow: hidden; 

    &.fade-in{
        display: flex;
        text-align: left;
        margin: 0;
        transform: translate(0%);
        filter: blur(0px);
        color: #E92176;
        transition: all .5s ease;
    }
}

.container_info{
    width: 100%;
    height: 100%;
}

.card_container_answers{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    background-color: #202945;
    border: 1px solid rgba(0, 0, 0, .08);
    transition: all .2s ease;

    & button{
        text-align: left;
        padding: 10px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: white;
        font-weight: 500;
        width: 100%;
        overflow: hidden;
        border-bottom: .5px #535864 solid;
        transition: all .2s ease;
    }

    & button:hover{
        background-color: #41548c;
    }
}

.span_answer{
    filter: blur(10px);
    display: flex;
    width: 100%;
    font-size: 15px;
    transform: translate(110%);
    transition: all .5s ease-in-out;

    &.fade-in{
        filter: blur(0px);
        transform: translate(0%);
        transition: all .5s ease;
    }
}


.controles{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.indicadores{
    display: flex;
    align-items: start;
    justify-content: start;

    & p{
        margin: 0;
    }
}


.controls_arrows{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;

    & p{
        display: flex;
        text-align: center;
    }
}

.container_test{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: all 1s ease;
}

.button_arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: .2em;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transition: all .5s ease;
    background: #202945;
    color: white;

    &:hover{
        transform: scale(.95);
    }

    &:active{
        transform: scale(1.15);
    }
}

.container-btn-repetir{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1em auto;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 8px;
    height: 34px;
    max-width: 250px;
    width: 100%;
    border: none;
    background: #ff362b34;
    border-radius: 20px;
    cursor: pointer;

    &:hover{
        background: #ff362b52;
    }

    &:hover .svg-icon{
        animation: spin 2s linear infinite;
    }
}
  
.lable {
    line-height: 20px;
    font-size: 17px;
    color: #FF342B;
    font-family: sans-serif;
    letter-spacing: 1px;
}

@media screen and (max-width:700px) {
    .card_test{
        min-width: 0px;
    }
}

@media screen and (max-width:550px) {

    .span_explanation_question{
        font-size: 13px;
    }
}


@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(-360deg);
    }
}





